<main data-ng-controller="HomeCtrl as Home">
<section id="startbanner">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-md-5">
                <h1>Home Rentals Reinvented</h1>
                <p>Trintals is a smart website that cures the home rental headache by saving time and money for landlords, real estate agents and renters, too.</p>
                <p class="pt-5 big-p">Discover Trintals for... </p>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" onclick="document.location.href='owner.aspx';">Owners</button>
                        <button type="button" onclick="document.location.href='agents.aspx';">Agents</button>
                        <button type="button" onclick="document.location.href='renter.aspx';">Renters</button>
                    </div>
                </div>
            </div>
            <div class="col-md-7 bg-banner-main image1"></div>
        </div>
    </div>
</section>
<section id="promise">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Our Promise</h2>
                <p>Our team is on a mission to fill vacant rental places with <span class="orange">happy</span> tenant faces. That's why we built Trintals.com: to automate and simplify the process of renting a <span class="orange">home</span>. We promise to do our best, every day, to make the home rental experience a little bit better than it was the day before.</p>
            </div>
        </div>
    </div>
</section>
<section id="whatwedo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>What can we do <span class="m-none">for you</span>?</h2>
                <ul class="owl-carousel" id="whatwedocarousel">
                    <li>
                        <div class="bg-icon img1"></div>
                        <h6>Property Marketing</h6>
                        <p>Renters are quickly matched with ideal vacancies because our syndication partners promote the widest possible exposure for property listings.</p>
                        <p><a href="javascript:">View Property Listings</a></p>
                    </li>
                    <li>
                        <div class="bg-icon img2"></div>
                        <h6>Tenant Screening</h6>
                        <p>An integrated screening process gives landlords the essential facts they need for a decision without any negative impact on the potential tenant's credit score.</p>
                        <p><a href="javascript:">Learn More</a></p>
                    </li>
                    <li>
                        <div class="bg-icon img3"></div>
                        <h6>Application Management</h6>
                        <p>Our interface and workflow make it easy to stay on top of the hundreds of applications and inquiries that a hot property or a motivated renter can generate every month.</p>
                        <p><a href="javascript:">Learn More</a></p>
                    </li>
                    <li>
                        <div class="bg-icon img4"></div>
                        <h6>Lease Preparation</h6>
                        <p>Impartial lease agreements are approved by our attorneys to be up to date by state. Special cases can be reviewed, modified and prepared for online signature in minutes.</p>
                        <p><a href="javascript:">Learn More</a></p>
                    </li>
                    <li>
                        <div class="bg-icon img5"></div>
                        <h6>Payment Automation</h6>
                        <p>Landlords and tenants can connect their banks and be ready for secure, online rent payments that support automatic deposits and payment reminders too!</p>
                        <p><a href="javascript:">Learn More</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pt-60">
                <h2>Testimonials</h2>
            </div>
        </div>
        <div class="row owl-carousel" id="testimonals">
            <div class="card">
                <div class="card-body bg-card">
                    <p>Trintals made renting my property super easy. From listing the property, potential renter's background check to managing lease are all bundled in one place on their website. It is so easy to create the lease, send it to your renter for electronic signature. Trintals saved a ton of my time and money.</p>
                    <div class="vhide"><a href="https://www.facebook.com/permalink.php?story_fbid=444967152601010&id=100012631873378&substory_index=0" target="_blank"><i class="fab fa-facebook-f"></i><span>Read this review on Facebook</span></a></div>
                </div>
                <div class="card-footer d-flex">
                    <div class="ml-auto pt-5 pr-4">
                        <h6>Praveen Ramu, Verified Owner</h6>
                        <h6 class="text-right lh0"><small></small></h6>
                    </div>

                    <div class="userimage"><span class="imgcircle">PR</span></div>
                </div>
            </div>
            <div class="card">
                <div class="card-body bg-card">
                    <p>We used Trintals to find our rental home and it was a seamless experience. They did one complete background/credit check and it allowed us to apply to multiple properties without having to pay for a credit check for each property we liked...</p>
                    <div><a href="https://www.facebook.com/permalink.php?story_fbid=444967152601010&id=100012631873378&substory_index=0" target="_blank"><i class="fab fa-facebook-f"></i><span>Read this review on Facebook</span></a></div>
                </div>
                <div class="card-footer d-flex">
                    <div class="ml-auto pt-5 pr-4">
                        <h6>Austin Lubis, Verified Renter </h6>

                    </div>
                    <div class="userimage">
                        <span class="imgcircle">
                            <img src="img/web-icon-testimonial-photo.png" alt="img" class="imgcircle bgimage" />
                        </span>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-body bg-card">
                    <p>
                        Trintals is a great platform for new owners and landlords. It is helping me get started in a organized way as I learn this business with my first property as a landlord. I spent so much time on getting my property leased that I forgot to draft and review a lease to fit my
                        needs...
                    </p>
                    <div class="vhide"><a href="https://www.facebook.com/permalink.php?story_fbid=444967152601010&id=100012631873378&substory_index=0" target="_blank"><i class="fab fa-facebook-f"></i><span>Read this review on Facebook</span></a></div>
                </div>
                <div class="card-footer d-flex">
                    <div class="ml-auto pt-5 pr-4">
                        <h6>J. Williams, Verified Owner </h6>

                    </div>


                    <div class="userimage"><span class="imgcircle">JW</span></div>
                </div>
            </div>

        </div>

    </div>
</section>
<section id="newsecurity">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="Securitybanner"></div>
            </div>
            <div class="col-md-6">
                <h2>Security Matters</h2>
                <p>Trintals is committed to keeping your personal information confidential and secure. Our security suite features:</p>
                <ul id="points">
                    <li>Multiple server security layers with Denial of Service prevention and Intrusion Protection Systems.</li>
                    <li>SSL encryption protects all data transmissions and is considered ''uncrackable.''</li>
                    <li>Offsite data-vault backup to restore our system in case of a natural disaster or other emergency,</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</main>